.Loading {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff; 
}

.Events {
    background-color: #fff;
    overflow: hidden;

    .ImageContainer {
        height: 95vh;  
        position: relative;
        margin-bottom: 3rem;
        
        .Text {
            display: flex;
            height: 100%;
            width: 100%;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            background-image: -moz-linear-gradient(to right bottom,
                rgba(#2DBCBC, 0.6),
                rgba(#008686, 0.6)),
                url('../../assets/events.jpg');
            background-image: -webkit-linear-gradient(to right bottom,
                    rgba(#2DBCBC, 0.6),
                    rgba(#008686, 0.6)),
                    url('../../assets/events.jpg');
            background-image: -o-linear-gradient(to right bottom,
                    rgba(#2DBCBC, 0.6),
                    rgba(#008686, 0.6)),
                    url('../../assets/events.jpg');
            background-image: linear-gradient(
                to right bottom,
                rgba(#2DBCBC, 0.6),
                rgba(#008686, 0.6)),
                url('../../assets/events.jpg');
            background-size: cover;
            background-position: top;
            position: relative;
            background-repeat: no-repeat;

            .Header {

                h1 {
                    font-size: 3.5rem;
                    line-height: 4rem;
                    text-transform: uppercase;
                    font-weight: 300;
                    color: #fff;
                    text-align: center;
                    animation: events 1s ease-in forwards;
                }
        
                .titleLine {
                    width: 25.6rem;
                    height: 1px;
                    background: #383838;
                    margin: 1.8rem auto 3.8rem;
                    clear: both;
                    position: relative;
                    animation: titleLine 1s ease-in forwards;
        
                    hr {
                        width: 9.9rem;
                        height: .7rem;
                        background: #fff;
                        border: 0;
                        outline: none;
                        margin: 0 auto;
                        position: absolute;
                        left: 50%;
                        top: -3px;
                        margin-left: -4.9rem;
                    }
                }
            }

            .TextContainer {
                margin-bottom: 3rem;

                h3, h2, h1 {
                    color: #fff;
                    font-weight: 300;
                    margin: 0 1.8rem;
                }

                h1 {
                    font-size: 10rem;
                    letter-spacing: .8rem;
                }

                h3 {
                    font-size: 2rem;
                    letter-spacing: 1rem;
                }
            }
        }
    }

    .Loader {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .Card {
        margin: auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
        border-radius: 2rem;
        max-width: 30rem;

        &:hover {
            // background-color: rgba(239, 239, 239, 0.5);
            -webkit-box-shadow: 0 22px 43px rgba(0, 0, 0, 0.15);
            box-shadow: 0 22px 43px rgba(0, 0, 0, 0.15);
            transform: translateY(-10px);
            -webkit-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s
        }

        .Img {
            max-height: 15rem;
            width: 100%;
            border-radius: 2rem;
            margin-bottom: 1.7rem;
        }

        .CardHeader {
            margin-bottom: 2rem;
            text-align: left;
        }

        .CardBody {
            text-align: left;

            h1 {
                border-bottom: 1px solid #2DBCBC;
                text-align: center;
                display: inline-block;
                padding: .5rem;
                
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .Events {
        .ImageContainer {
            .Text {
                .TextContainer {
                    h1 {
                       font-size: 7rem;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .Events {
        .ImageContainer {
            .Text {
                .TextContainer {
                    h1 {
                       font-size: 4rem;
                    }
                }
            }
        }

        .Card {
            margin: 2rem auto; 
        }
    }
}

@keyframes events {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        opacity: 0.8;
        transform: translateX(2rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

@keyframes titleLine {
    0% {
        opacity: 0;
        transform: translateY(10rem);
    }

    // 80% {
    //     opacity: 0.8;
    //     transform: translateX(2rem);
    // }

    100% {
        opacity: 1;
        transform: translateX(0)
    }
}