// As hex codes */

$color-primary-0: #2DBCBC;	// Main Primary color */
$color-primary-1: #7FE1E1;
$color-primary-2: #50CECE;
$color-primary-3: #0DADAD;
$color-primary-4: #008686;

$color-secondary-1-0: #4069C8;	// Main Secondary color (1) */
$color-secondary-1-1: #8DA8E6;
$color-secondary-1-2: #6185D6;
$color-secondary-1-3: #214FBB;
$color-secondary-1-4: #0E3796;

$color-secondary-2-0: #36DE36;	// Main Secondary color (2) */
$color-secondary-2-1: #88F088;
$color-secondary-2-2: #5AE65A;
$color-secondary-2-3: #11D611;
$color-secondary-2-4: #00B300;

$footer-background: #383838;
$footer-text-color: #8d8d8d;
$text-color: #424242;
