.Carousel {
    .ImageContainer {
        height: 95vh;
        position: relative;

        .Text {
            display: flex;
            height: 100%;
            width: 100%;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            background-image: -moz-linear-gradient(to right bottom,
                rgba(#2DBCBC, 0.6),
                rgba(#008686, 0.6)),
                url('../../assets/water.jpg');
            background-image: -webkit-linear-gradient(to right bottom,
                    rgba(#2DBCBC, 0.6),
                    rgba(#008686, 0.6)),
                    url('../../assets/water.jpg');
            background-image: -o-linear-gradient(to right bottom,
                    rgba(#2DBCBC, 0.6),
                    rgba(#008686, 0.6)),
                    url('../../assets/water.jpg');
            background-image: linear-gradient(
                to right bottom,
                rgba(#2DBCBC, 0.6),
                rgba(#008686, 0.6)),
                url('../../assets/water.jpg');
            background-size: cover;
            background-position: top;
            position: relative;
            background-repeat: no-repeat;

            .TextContainer {
                margin-bottom: 3rem;

                h3, h2, h1 {
                    color: #fff;
                    font-weight: 600;
                }
            }

            .Button {
                padding: 0 6rem;
                height: 5rem;
                border-radius: 4rem;

                .Link {
                    font-size: 2rem;
                    color: #424242;
                }
            }
        }
    }

    .ImageContainer2 {
        height: 95vh;
        position: relative;

        .Text {
            display: flex;
            height: 100%;
            width: 100%;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            background-image: -moz-linear-gradient(to right bottom,
                rgba(#2DBCBC, 0.3),
                rgba(#008686, 0.3)),
                url('../../assets/church-people.jpeg');
            background-image: -webkit-linear-gradient(to right bottom,
                    rgba(#2DBCBC, 0.3),
                    rgba(#008686, 0.3)),
                    url('../../assets/church-people.jpeg');
            background-image: -o-linear-gradient(to right bottom,
                    rgba(#2DBCBC, 0.3),
                    rgba(#008686, 0.3)),
                    url('../../assets/church-people.jpeg');
            background-image: linear-gradient(
                to right bottom,
                rgba(#2DBCBC, 0.3),
                rgba(#008686, 0.3)),
                url('../../assets/church-people.jpeg');
            background-size: cover;
            background-position: top;
            position: relative;
            background-repeat: no-repeat;

            .TextContainer {
                margin-bottom: 3rem;

                h3, h2, h1 {
                    color: #fff;
                    font-weight: 600;
                }
            }

            .Button {
                padding: 0 6rem;
                height: 5rem;
                border-radius: 4rem;

                .Link {
                    font-size: 2rem;
                    color: #424242;
                }
            }
        }
    }
}

@media screen  and (max-width: 650px) {
    .Carousel {
        .ImageContainer {
            height: 85vh;

            .Text {
                .Button {
                    padding: 0 4rem;

                    .Link {
                        font-size: 1.8rem;
                    }
                }
            }
        }

        .ImageContainer2 {
            height: 85vh;

            .Text {
                .Button {
                    padding: 0 4rem;

                    .Link {
                        font-size: 1.8rem;
                    }
                }
            }
        }
    }
}