.Carousel {
    .ImageContainer {
        height: 95vh;
        position: relative;

        .Text {
            display: flex;
            height: 100%;
            width: 100%;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            background-image: -moz-linear-gradient(to right bottom,
                rgba(#2DBCBC, 0.6),
                rgba(#008686, 0.6)),
                url('../../assets/map.jpeg');
            background-image: -webkit-linear-gradient(to right bottom,
                    rgba(#2DBCBC, 0.6),
                    rgba(#008686, 0.6)),
                    url('../../assets/map.jpeg');
            background-image: -o-linear-gradient(to right bottom,
                    rgba(#2DBCBC, 0.6),
                    rgba(#008686, 0.6)),
                    url('../../assets/map.jpeg');
            background-image: linear-gradient(
                to right bottom,
                rgba(#2DBCBC, 0.6),
                rgba(#008686, 0.6)),
                url('../../assets/map.jpeg');
            background-size: cover;
            background-position: top;
            position: relative;
            background-repeat: no-repeat;

            .TextContainer {
                margin-bottom: 3rem;

                h3, h2, h1 {
                    color: #fff;
                    font-weight: 600;
                    animation: moveInWelcome 1s ease-in forwards;
                }

                span {
                    color: #fff;
                    font-weight: 600;
                    animation: tagLine 1s ease-in forwards; 
                    display: block;
                    font-size: 2rem;
                }
            }

            .Button {
                padding: 0 6rem;
                height: 5rem;
                border-radius: 4rem;
                animation: button 1s ease-in forwards;

                .Link {
                    font-size: 2rem;
                    color: #424242;
                }
            }
        }
    }

    .ImageContainer2 {
        height: 95vh;
        position: relative;

        .Text {
            display: flex;
            height: 100%;
            width: 100%;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            background-image: -moz-linear-gradient(to right bottom,
                rgba(#2DBCBC, 0.3),
                rgba(#008686, 0.3)),
                url('../../assets/church-people.jpeg');
            background-image: -webkit-linear-gradient(to right bottom,
                    rgba(#2DBCBC, 0.3),
                    rgba(#008686, 0.3)),
                    url('../../assets/church-people.jpeg');
            background-image: -o-linear-gradient(to right bottom,
                    rgba(#2DBCBC, 0.3),
                    rgba(#008686, 0.3)),
                    url('../../assets/church-people.jpeg');
            background-image: linear-gradient(
                to right bottom,
                rgba(#2DBCBC, 0.3),
                rgba(#008686, 0.3)),
                url('../../assets/church-people.jpeg');
            background-size: cover;
            background-position: top;
            position: relative;
            background-repeat: no-repeat;

            .TextContainer {
                margin-bottom: 3rem;

                h3, h2, h1 {
                    color: #fff;
                    font-weight: 600;
                }
            }

            .Button {
                padding: 0 6rem;
                height: 5rem;
                border-radius: 4rem;

                .Link {
                    font-size: 2rem;
                    color: #424242;
                }
            }
        }
    }
}

@media screen  and (max-width: 650px) {
    .Carousel {
        .ImageContainer {
            height: 85vh;

            .Text {
                .TextContainer {

                    h1, h3 {
                        margin: 0 2rem;
                    }
                }

                .Button {
                    padding: 0 4rem;

                    .Link {
                        font-size: 1.8rem;
                    }
                }
            }
        }

        .ImageContainer2 {
            height: 85vh;

            .Text {
                .TextContainer {
                    
                    h1, h3 {
                        margin: 0 2rem;
                    }
                }
                
                .Button {
                    padding: 0 4rem;

                    .Link {
                        font-size: 1.8rem;
                    }
                }
            }
        }
    }
}

@keyframes moveInWelcome {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        opacity: 0.8;
        transform: translateX(2rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes button {
    0% {
        opacity: 0;
        transform: translateY(10rem);
    }

    80% {
        opacity: 0.8;
        transform: translateY(-2rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
} 

@keyframes tagLine {
    0% {
        opacity: 0;
        transform: translateX(10rem)
    }

    80% {
        opacity: 0.8;
        transform: translateX(-2rem)
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}