.Form {
    p {
        font-size: 2rem !important;
        text-align: center !important;
    }
    
    text-align: left;
    max-width: 50rem;
    margin: 2rem auto;
    padding: 3rem 2rem;
    background: #fff;
    border-radius: 2rem;
}