.HomeWelcome {
    text-align: center;
    padding: 4.4rem 1.5rem 9.5rem;

    .Header {

        h1 {
            font-size: 3.5rem;
            line-height: 4rem;
            text-transform: uppercase;
            font-weight: 300;
            color: #303030;
            text-align: center;
        }

        .titleLine {
            width: 25.6rem;
            height: 1px;
            background: rgba(184, 184, 184, 0.685);
            margin: 1.8rem auto 3.8rem;
            clear: both;
            position: relative;

            hr {
                width: 9.9rem;
                height: .7rem;
                background: #ff00cc;
                border: 0;
                outline: none;
                margin: 0 auto;
                position: absolute;
                left: 50%;
                top: -3px;
                margin-left: -4.9rem;
            }
        }
    }

    .Body {

        .Image {
            width: 22rem;
            float: left;
            margin-right: 2rem;
            border-radius: 2rem;
        }
        
        p {
            font-size: 2.2rem;
            line-height: 2.7rem;
            font-weight: 100;
            text-align: left;
            margin-bottom: 5rem;
        }

        .Button {
            height: 4rem;
            transition: all .3s ease-in-out;

            &:hover {
                transform: translateY(-1rem);
                box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
            }

            .Link {
                text-align: center;
                font-size: 2rem;
                padding: 1rem;
            }
        }
    }
}


@media screen and (max-width: 860px) {
    .HomeWelcome {
        .Body {
            .Image {
                width: 18rem;
            }

            p {
                font-size: 2rem;
                // margin: 0 8rem;
                margin-bottom: 5rem;
            }

            .Button {
    
                .Link {
                    text-align: center;
                    font-size: 1.8rem;
                    padding: 1rem;
                }
            }
        }
    }
}

@media screen and (max-width: 550px) {
    .HomeWelcome {
        .Header {
            h1 {
                font-size: 2.8rem;
            }
        }

        .Body {

            .Image {
                width: 12rem;
                margin-right: 1rem;
            }

            p {
                font-size: 1.8rem;
                margin: 0;
                text-align: left;
                margin-bottom: 5rem;
            }

            .Button {
                height: 4rem;
    
                .Link {
                    text-align: center;
                    font-size: 1.6rem;
                    padding: 1rem;
                }
            }
        }
    }
}